body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

div {
    margin: 20px 0;
}

input, button {
    padding: 10px;
    margin: 5px;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.movie img {
    max-width: 100%;
    border-radius: 5px;
}
